.DS_Store
*.o
*.so
*.a
*.dll
*.swp
a.out.dSYM
src/Makevars
config.log
config.status
autom4te.cache
src/config.hpp
src/dbarts/config.hpp
src/external/config.h
src/misc/config.h
src/include/misc/types.h
inst/include/dbarts/types.hpp
.Rproj.user
inst/doc
