useDynLib(dbarts, .registration = TRUE, .fixes = "C_")

export(dbarts, bart)
export(dbartsControl)
export(dbartsData)
export(pdbart, pd2bart)
export(xbart)
export(guessNumCores)

export(makeind, makeModelMatrixFromDataFrame)

exportClasses(dbartsSampler)

S3method(plot, bart)
S3method(plot, pdbart)
S3method(plot, pd2bart)

importFrom(methods, setRefClass, setClass, callNextMethod, validObject)
importFrom(stats, lm)