useDynLib(dbarts, .registration = TRUE, .fixes = "C_")

export(dbarts, bart, bart2)
export(dbartsControl)
export(dbartsData)
export(pdbart, pd2bart)
export(xbart)
export(guessNumCores)

export(makeind, makeModelMatrixFromDataFrame)

exportClasses(dbartsSampler)

S3method(plot, bart)
S3method(plot, pdbart)
S3method(plot, pd2bart)

importFrom(methods, setRefClass, setClass, setClassUnion, callNextMethod, validObject, is, new, setValidity, setMethod)

importFrom(stats, model.frame, model.offset, model.response, model.weights, is.empty.model, terms, na.omit, complete.cases)
importFrom(stats, lm, pnorm, quantile)
importFrom(stats, as.formula, setNames)

importFrom(graphics, abline, contour, image, lines, par, plot, title, strheight, text)
